<!DOCTYPE html>
<html lang="en" data-th-replace="~{base :: parent(~{::#content},~{::title},~{::script})}">

<head>
    <title>About Page</title>
</head>

<body>
    <div id="content">
        <h1>Welcome to About Page</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, ipsa. Accusamus, qui earum voluptate ullam dolore quaerat deserunt? Eum sed natus excepturi aliquid vero, totam, aperiam velit cumque veniam quibusdam obcaecati fugiat.</p>
    </div>
    <script>
        console.log("About Page");
    </script>
</body>

</html>