<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
</head>

<body>
    <div th:replace="~{base :: parent(~{::.container},~{},~{})}">

        <div class="container">
            <h2>Hello World!</h2>
            <p data-th-text="${name}" class="font-bold ">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorem rem excepturi non natus debitis quod? Aut, quis laboriosam! Consectetur, facere suscipit? Magnam consequatur assumenda eius illo beatae ratione eos recusandae labore temporibus!</p>
        </div>
    </div>

</body>

</html>